@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import './user/components/userItem';
@import './user/components/usersList';
@import './shared/components/UIElements/Avatar.scss';
@import './shared/components/UIElements/Card.scss';
@import './shared/components/UIElements/Backdrop.scss';
@import './shared/components/Navigation/MainHeader.scss';
@import './shared/components/Navigation/MainNavigation.scss';
@import './shared/components/Navigation/NavLinks.scss';
@import './shared/components/Navigation/SideDrawer.scss';

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: #4d4d4d;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
